<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>업데이트폼</h1>
<form action="/update/<%= user[0].id %>" method="POST">
    name <input type="text" name="name" value="<%= user[0].name %>"> <br>
    email<input type="text" name="email" value="<%= user[0].email %>"> <br>
    <button type="submit">업데이트</button>
</form>
</body>
</html>